html{
  margin: auto;
  height: 100vh;
  /*max-width: 600px;*/
}

@font-face {
    font-family: MainFont;
    src: url(../src/Montserrat-Black.ttf);
}

@media (min-width : 1000px) {
  html{
    max-width: 600px;
  }
  .overlay{
    max-width: 600px;
  }
  #titre{
    left : 33vw;
  }
}

/*@media screen and (min-width: 600px) {
  #titre {
     font-size: 66px;
  }
}*/

body{
  font-size: 2.5vh;
  font-family: MainFont;
}

footer{
  /*position: absolute;
  bottom: 0px;*/
  margin-top: 5vh;
  width: 100%;
  text-align: center;
}

.info{
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 2vh;
  padding: 2vh;
  margin-bottom: 5vh;
}

.foo{
  display: inline;
  margin: auto;
}

.question{
  background-color: white;
  color: black;
  font-weight: bold;
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 2vh;
  height: 20vh;
  box-shadow: inset 5px 5px 25px #888888;
}
#text{
  padding: auto;
}

#main{
  width: 70%;
  margin: auto;
  background-image: linear-gradient(#85BED4, #92D0BF);
  height: 70vh;
  margin-top: 13vh;
}

#rep{
  width: 100%;
  margin-top: 8vh;
}

th{
  text-align: center;
  font-size: 5vh;
}

/*th:active {
     font-size: 8vh;
}

th:hover {
     font-size: 8vh;
}*/

#titre{
  color: #F0F0F0;
  font-size: 6.5vh;
  position: absolute;
  margin: auto;
  top : 1vh;
  z-index:10000;
  /*left: 5vw;*/
}

#page{
  color: #91CFC0;
}

.nb{
  width: 20%;
}

/*end graph*/
.overlay{
    opacity:1;
    background-color:white;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    z-index:1000;
}

#graph{
  height: 95vh;
  width: 100%;
  position: absolute;
  bottom: 0vh;
}

.desc{
  color : #91CFC0;
}

.bar{
  width: 20vh;
  text-align: center;
  padding: 0px;
}

.progress{
  background-color: white;
}

.progress-bar-vertical {
  width: 5vw;
  min-height: 70%;
  display: flex;
  align-items: flex-end;
  margin-left: 40%;
  margin-bottom: 15%;
}

.progress-bar{
  background-image: linear-gradient(#93C2DA, white);
  border: none;
  border-radius: 50px;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

/*percent*/
.perc{
  position: absolute;
  width: 90%;
  margin-left: 5vw;
  z-index:10000;
}

#perc1{
  top : 27vh;
}

#perc2{
  top : 44vh;
}

#perc3{
  top : 60.5vh;
}

.percDesc{
  text-align: right;
  font-size: 1.6vh;
  color: #F0F0F0;
}

/*intro*/
.intro{
  opacity:1;
  background-color:white;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  z-index:1000;
}

.introBtn{
  position: absolute;
  top: 40vh;
  left: 30vw;
}

/*moons*/
svg{
  width: 75%;
  transition: all .1s linear;
}

svg:active{
  transform: scale(1.2);
}
/*
svg:hover{
  transform: scale(1.2);
}*/

.a{fill:rgb(101, 143, 135);}

.b{fill:white;}

.anim{
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin: auto;
  }
}
