html {
  margin: auto;
  height: 100vh;
}

@font-face {
  font-family: MainFont;
  src: url(../src/Montserrat-Black.ttf);
}

/* @media (min-width : 1000px) {
    html{
      max-width: 600px;
    }
    .overlay{
      max-width: 600px;
    }
     #titre{
      left : 33vw;
    } 
  } */

/*@media screen and (min-width: 600px) {
    #titre {
       font-size: 66px;
    }
  }*/

body {
  font-size: 2.5vh;
  font-family: MainFont;
}

footer {
  position: relative;
  width: 100vw;
  height: 10vh;
  left: 0;
  text-align: center;
  padding-top: 3vh;
}

.info {
  position: relative;
  display: block;
  text-align: left;
  height: 25%;
  color: white;
  font-weight: 100;
  font-size: 2vh;
  padding: 7.5%;
}

.foo {
  line-height: 100%;
  display: inline;
  margin: auto;
}

.question {
  display: block;
  position: relative;
  background-color: white;
  color: black;
  font-weight: bold;
  width: 85%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
  text-align: center;
  padding: 2vh;
  box-shadow: inset 0px 0px 0.8vh 0vh rgb(99, 151, 172);
  border-radius: 1%;
}
.text {
  /*padding-left: -33%;
    word-wrap:nowrap;
    white-space: nowrap;*/
}

.reponse {
  display: block;
  position: relative;
  height: 30%;
}

#main {
  display: block;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(#85bed4, #92d0bf);
  box-shadow: 0px 0px 8vh -2vh rgb(99, 151, 172);
  height: 75vh;
  margin-top: 15vh;
  border-radius: 1%;
}

#rep {
  width: 80%;
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center;
  font-size: 5vh;
}

#titre {
  color: #f0f0f0;
  font-size: 10vw;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  width: 100%;
  text-align: center;
  top: 1vh;
  z-index: 10000;
}

@media (min-aspect-ratio: 2/3) {
  #titre {
    font-size: 6.5vh;
  }
  #main {
    width: 66vh;
  }
}

#page {
  color: #91cfc0;
}

.nb {
  width: 20%;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.2s;
}

.nb:hover,
.nb.selected {
  transform: scale(1.5);
}

#triangle {
  display: block;
  position: relative;
  transform: scale(1, 0.2);
  width: 70%;
  margin: auto;
}
